:root {
    --main-bg-nav: rgb(26, 26, 26);
    --main-nav-icon : #4d4d4e;
    --main-bg-dark: #202020;
    --main-bg-dark-blue: #182952;
    --main-navy: #2b3595;
    --main-purple: #7045af;
    --main-pink: #e14594;

}

html {
    scroll-behavior: smooth;
    font-family: 'Lato', sans-serif;
}

body {
    overflow: hidden;
    background-color: var(--main-bg-dark);
}

section {
    margin-left: 60px;
}

h1 {
    font-family: 'Anton', sans-serif;
    color: white;
}

.wrapper {
  
}

/* NAVIBAR */
#navbar {
    width: 60px;
    height: 100vh;
    background-color: var(--main-bg-nav);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
}

.logo {
    padding: 8px 0;
    display: block;
}

.logo img {
    max-width: 50px;
}

#navbar .navi {
    width: 100%;
    position: absolute;
    display: block;
    top: 50%;
    transform: translate(0%,-50%);
    font-size: 22px;
}

#navbar .navi a{
    display: block;
    color: var(--main-nav-icon);
    height: 50px;
}

#navbar ul {
    position: absolute;
    bottom: 20px;
    text-align: center;
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
}

#navbar lu li {
    width: 100%;
}

#navbar ul li a{
    width: 100%;
    padding: 7px 0;
    display: block;
    font-size: 15px;
    line-height: 16px;
    color: var(--main-nav-icon);
}

#navbar ul li i{
    font-size: 15px;
}

/* LAND */
#land {
    height: 100vh;
}

#land h1{
    color: white;
}

#about{
    height: 100vh;
}