:root {
    --main-bg-nav: rgb(26, 26, 26);
    --main-nav-icon: hsl(240, 1%, 30%);
    --main-bg-dark: #272727;
    --main-bg-dark-blue: #182952;
    --main-gray: rgb(82, 82, 82);
    --main-navy: #2b3595;
    --main-purple: #7045af;
    --main-pink: #e14594;
    --title-font: 'Anton', sans-serif;
    --text-font: 'Lato', sans-serif;
}

html {
    scroll-behavior: smooth;
    font-family: 'Lato', sans-serif;
}

body {
    overflow: hidden;
    background-color: var(--main-bg-dark);
    color: white;
    font-size: 1rem;
}

section {
    padding-left: 60px;
    height: 100vh;
}

h1 {
    font-family: 'Anton', sans-serif;
    font-size: 4rem;
    color: var(--main-pink);
}

.onepage-pagination {
    display: none;
}

/* ------------------------------NAVIBAR--------------------- */
#navbar {
    width: 60px;
    height: 100vh;
    background-color: var(--main-bg-nav);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
}

.logo {
    padding: 8px 0;
    display: block;
}

.logo img {
    max-width: 50px;
}

#navbar .navi {
    width: 100%;
    position: absolute;
    display: block;
    top: 50%;
    transform: translate(0%, -50%);
    font-size: 22px;
}

#navbar .navi a {
    display: block;
    color: var(--main-nav-icon);
    height: 50px;
}

#navbar .navi a.active,
#navbar .navi a:hover {
    color: var(--main-pink);
}

#navbar ul {
    position: absolute;
    bottom: 20px;
    text-align: center;
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
}

#navbar lu li {
    width: 100%;
}

#navbar ul li a {
    width: 100%;
    padding: 7px 0;
    display: block;
    font-size: 15px;
    line-height: 16px;
    color: var(--main-nav-icon);
}

#navbar ul li a:hover {
    color: var(--main-pink);
}

#navbar ul li i {
    font-size: 15px;
}

/* ------------------------------NAVIBAR MOBILE--------------------- */
#m-navbar {
    width: 100vw;
    height: 60px;
    background-color: var(--main-bg-nav);
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
    display: none;
}


#m-navbar .navi {
    display: flex;
    font-size: 22px;
    height: 100%;
    width: 96%;
    margin: 0 2%;
    justify-content: space-between;
}

#m-navbar .navi a {
    display: inline-block;
    color: var(--main-nav-icon);
    height: 60px;
    width: 14.28%;
    text-align: center;
    padding: 14px 0;
}

#m-navbar .navi a.active,
#m-navbar .navi a:hover {
    color: var(--main-pink);
}


/* -----------------------------LAND -------------------------*/
#land {
    height: 100vh;

}

.top-tag,
.bot-tag {
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.7rem;
    color: var(--main-gray);
}

.top-tag {
    position: absolute;
    top: 2%;
    left: 65px;
}

.bot-tag {
    position: absolute;
    bottom: 2%;
    left: 65px;
}

.text-area {
    color: white;
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translate(0, -50%);
    letter-spacing: 2px;
    font-family: var(--title-font);
}

.text-area::before {
    content: "»public class GameController : MonoBehaviour {";
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.7rem;
    color: var(--main-gray);
}

.row-text {
    display: inline-block;
}

.big-name {
    display: inline-block;
}

.greet,
.present {
    display: block;
    font-size: 3rem;
}

.name {
    font-size: 10rem;
    line-height: 1;
    color: var(--main-purple);

}

.title-job {
    font-size: 3rem;
    text-align: justify;
}

.b-contact {
    margin-top: 25px;
    background-color: var(--main-bg-dark);
    color: var(--main-purple);
    font-size: 11px;
    border: 1px solid var(--main-purple);
    letter-spacing: 4px;
    font-family: var(--text-font);
    font-weight: 600;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 3px;
    -webkit-animation: myanim2 1s 1.8s backwards;
    animation: myanim2 1s 1.8s backwards;
}

.b-contact:hover {
    color: var(--main-bg-dark);
    background-color: var(--main-purple);

}

.back-land {
    position: absolute;
    right: 0;
    color: var(--main-gray);
    z-index: -1;
    height: 100%;
    overflow: hidden;
}

/* ABOUT */
#about {
    height: 100vh;
}

.about-textarea {
    text-align: end;
    position: absolute;
    top: 10%;
    right: 5%;
    width: 80%;
}

.about-textarea::before {
    content: "»transform.LookAt(target);";
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.7rem;
    color: var(--main-gray);
}

.about-text {
    color: white;
}

.job-title {
    margin: 0;
}

.about-svg {
    position: absolute;
    bottom: 5%;
    z-index: -1;
    fill: white;
    
}

/* ----------------------SKILLS-------------- */
#skills {
    height: 100vh;
}

.skills-textarea {
    position: absolute;
    top: 10%;
    left: 7%;
    width: 50%;
}

.skills-textarea::before {
    content: "»public class LevelScriptEditor: Editor";
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.7rem;
    color: var(--main-gray);
    text-align: end;
}

.skills-text{
    width: 70%;
}

.skills-svg {
    position: absolute;
    bottom: 10%;
    right: 7%;
    z-index: -1;
    overflow: hidden;
}

@media only screen and (max-width: 768px) {
    .text-area {
        top: 70%;
    }

    .top-tag,
    .bot-tag,
    .text-area::before {
        display: none;
    }

    .about-textarea::before {
        display: none;
    }
    
    .skills-textarea{
        left: 10%;
    }
    .skills-textarea::before{
        display: none;
    }

    .skills-svg{
        right: -30%;
    }
}

@media only screen and (max-width: 670px) {
    .text-area {
        left: 16%;
        top: 80%;
        transform: translate(0, -50%);
    }

    .greet,
    .present {
        font-size: 2rem;
        line-height: 1;
    }

    .name {
        font-size: 6rem;
    }

    .title-job {
        font-size: 1.5rem;
    }

    .back-land {
        left: 12%;
    }

}

@media only screen and (max-width:600px) {
    img.about-svg {
        transform: translate(-50%, 0);
    }
}

@media only screen and (max-width: 425px) {
    .skills-textarea{
        width: 80%;
        left: 15%;
        line-height: 1;
    }
    .skills-textarea::before{
        display: none;
    }

    .skills-svg{
        right: -30%;
    }
}
@media only screen and (max-width: 375px) {

    #navbar {
        display: none;
    }

    #m-navbar {
        display: block;
    }

    .text-area {
        left: 3%;
    }

    .greet,
    .present {
        font-size: 1.5rem;
    }

    .name {
        font-size: 5rem;
    }

    .title-job {
        font-size: 1.2rem;
    }

    .b-contact {
        display: none;
    }

    .about-textarea {
        font-size: 0.8rem;
    }

    h1 {
        font-size: 2rem;
    }



}